.title {
  margin-top: 50px;
  margin-left: 1.5rem;
  font-size: 26px;
  font-weight: bold;
  color: #333;
}

.featured-product-adjustment {
  display: flex;
  justify-content: center;
  margin: 10px auto 50px;
}