.shipping_promotion .shipping_promotion_img {
  height: 400px;
  width: 100vw;
  background-size: cover !important;
  background-position: top center !important;
  padding: 73px;
  box-sizing: border-box;
}


.shipping_promotion .tag {
  background: #82828287;
  color: #ffffff;
  padding: 0px 20px;
  /* text-transform: uppercase; */
  display: table;
}

.shipping_promotion .tag.title {
  font-size: 70px;
  font-weight: 700;
  margin: 10px auto;
}

.shipping_promotion .tag.low_title {
  font-size: 50px;
  font-weight: 300;
  margin-top: 10px;
  margin: 0 auto;
}

.shipping_promotion .my_link a {
  margin: 10px auto;
}

.shipping_promotion .bttn{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

@media (max-width:720px){
	.shipping_promotion .shipping_promotion_img {
    height: 200px;
    width: 100vw;
    background-size: cover !important;
    background-position: top center !important;
    padding: 73px;
    box-sizing: border-box;
  }

  .shipping_promotion .bttn{
    margin-top: 20px;
    display: flex;
    justify-content:center;
  }
}