.user_container .user_nfo_panel {
  background: #f8f8f8;
  padding: 20px;
  margin-top: 20px;
}


.user_container .user_nfo_panel h1 {
  margin: 0 0 20px 0;
  line-height: 32px;
  text-transform: uppercase;
  font-size: 25px;
}


.user_container .user_nfo_panel span{
  display: block;
  font-size: 18px;
  font-weight: 300;
}

.user_product_block {
  display: flex;
  flex-wrap: wrap;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ebebeb;
}

.user_product_block .item {
  flex-grow: 1;
}