.brand-adjustment {
  font-family: 'Exo 2', sans-serif;
  padding-top: 0.3125rem;
  padding-bottom: 0.7rem;
  margin-right: 1rem;
  font-size: 2rem;
  text-decoration: none;
  white-space: nowrap;
  color: white;
}

.brand-adjustment:hover {
  font-family: 'Exo 2', sans-serif;
  padding-top: 0.3125rem;
  padding-bottom: 0.7rem;
  margin-right: 1rem;
  font-size: 2rem;
  text-decoration: none;
  white-space: nowrap;
  color: rgb(187, 191, 194);
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem
  }
}